.AppHeader-e2e {
  position: absolute;
  left: 5px;
  bottom: 6px;
}
.AppHeader-e2e:before {
  font-family: "IcoMoon", sans-serif;
  content: "\e904";
}
.Node-bullet.encrypted:before {
  content: "\e91a";
}
